.usersMainBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}

.users_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    border: 1px solid #efeae1;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.avatar {
    height: 2.2rem;
    border-radius: 50%;
}

.pagesCounterBlock {

    display: flex;
    gap: 0.5rem;


}

.page {
    cursor: pointer;
}

.selectedPage {
    color: #D197F0;
}