.usersMainBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.users_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    border: 1px solid #efeae1;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.user .avatar {
    height: 3rem;
    border-radius: 50%;
}

.user .informBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user .informBlock button {
    width: 5rem;
}

.pagesCounterBlock {
    display: flex;
    gap: 0.5rem;
}

.page {
    cursor: pointer;
}

.selectedPage {
    color: #D197F0;
    border: 1px solid #D197F0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: -1px;

}