.avatar img {
  height: 50px;
  width: 50px;
}

.block {
  margin: 10px;
  display: flex;
  // min-width: 100%;
}

Button {
  margin-top: 10px;
  margin-right: 10px;
}

.selectedPage {
  font-weight: 600;
  color: brown;
}

.pages_list {
  max-width: 80vh;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  // flex-direction: column;
  // justify-content: space-around;
}

.pages_list span {
  padding: 5px;
}
