.header {
  background-color: cadetblue;
  background-color: antiquewhite;
  font-style: normal;
  font-weight: normal;
}
.header img {
  width: 80px;
}
.loginBlock {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  cursor: pointer;
}
.loginBlock a {
  text-decoration: none;
}
