.header {
  background-color: antiquewhite;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.header img {
  width: 80px;
}
.loginBlock {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.7rem;
  cursor: pointer;
}
.loginBlock a {
  text-decoration: none;
}
