.header {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loginBlock {
  display: flex;
  align-items: center;
  // margin-top: 10px;
  justify-content: flex-end;
  cursor: pointer;
}
.loginBlock a {
}
.headerBlock {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  justify-content: center;
  .headerBtn {
    margin-left: 10px;
  }
}
img {
  width: 80px;
}
