.post {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #efeae1;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.textBlock {
  display: flex;
  flex-direction: column;
}

.textBlock p {
}
