.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header'
    'nav content'
    'footer footer';
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 2fr 12fr;
  height: 100vh;
  grid-gap: 0.5rem;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.svg-scale {
  cursor: pointer;
  transition: all 0.2s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.svg-scale:hover {
  scale: 1.1;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
