.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header'
    'nav content'
    'footer footer';
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-columns: 2fr 12fr;
  height: 100vh;
  grid-gap: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #61dafb;
  grid-area: header;
}
.header img {
  height: 100%;
  display: flex;
}
.nav {
  grid-area: nav;
  background-color: aquamarine;
}
.nav .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 0 1rem;
  text-transform: uppercase;
  line-height: 1.5rem;
}
.content {
  grid-area: content;
  background-color: bisque;
}
.footer {
  grid-area: footer;
  background-color: rgb(154, 101, 101);
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
